<p id="notice"><%= notice %></p>

<p>
  <strong>Id area:</strong>
  <%= @area.id_area %>
</p>

<p>
  <strong>Nome area:</strong>
  <%= @area.nome_area %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
