<p id="notice"><%= notice %></p>

<h1>Estagiários Docentes Cadastrados</h1>

<table>
  <thead>
    <tr>
      <tr><td>Nome</td> 
      <td>Matricula</td>
      <td>Disciplina 01</td>
      <td>Disciplina 02</td>
      <td>Disciplina 03</td>
      <td>Disciplina 04</td>
      <td>Disciplina 05</td>
      <td>Disciplina 06</td>
      <td>Disciplina 07</td>
      <td>Disciplina 08</td>
      <td>Disciplina 09</td>
      <td>Disciplina 10</td>
      <td>Mestrado</td>
      <td>Doutorado</td>
      <td colspan="3"></td>
    </tr>
  </thead>

  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td><%= form.nome %></td>
        <td><%= form.matricula %></td>
        <td><%= form.disciplina_01 = form.disciplina_id %></td>
        <td><%= form.disciplina_02  = form.disciplina_id %></td>
        <td><%= form.disciplina_03 = form.disciplina_id %></td>
        <td><%= form.disciplina_04 = form.disciplina_id %></td>
        <td><%= form.disciplina_05 = form.disciplina_id %></td>
        <td><%= form.disciplina_06 = form.disciplina_id %></td>
        <td><%= form.disciplina_07 = form.disciplina_id %></td>
        <td><%= form.disciplina_08 = form.disciplina_id %></td>
        <td><%= form.disciplina_09 = form.disciplina_id %></td>
        <td><%= form.disciplina_10 = form.disciplina_id %></td>
        <td><%= form.mestrado %></td>
        <td><%= form.doutorado %></td>
        <td><%= link_to 'Exibir', form %></td>
        <td><%= link_to 'Editar', edit_form_path(form) %></td>
        <td><%= link_to 'Deletar', form, method: :delete, data: { confirm: 'Você tem certeza que deseja deletar essa disciplina?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo', new_form_path %>
