<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @form.nome %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @form.matricula %>
</p>

<p>
  <strong>Disciplina 01:</strong>
  <%= @form.disciplina_01 %>
</p>

<p>
  <strong>Disciplina 02:</strong>
  <%= @form.disciplina_02 %>
</p>

<p>
  <strong>Disciplina 03:</strong>
  <%= @form.disciplina_03 %>
</p>

<p>
  <strong>Disciplina 04:</strong>
  <%= @form.disciplina_04 %>
</p>

<p>
  <strong>Disciplina 05:</strong>
  <%= @form.disciplina_05 %>
</p>

<p>
  <strong>Disciplina 06:</strong>
  <%= @form.disciplina_06 %>
</p>

<p>
  <strong>Disciplina 07:</strong>
  <%= @form.disciplina_07 %>
</p>

<p>
  <strong>Disciplina 08:</strong>
  <%= @form.disciplina_08 %>
</p>

<p>
  <strong>Disciplina 09:</strong>
  <%= @form.disciplina_09 %>
</p>

<p>
  <strong>Disciplina 10:</strong>
  <%= @form.disciplina_10 %>
</p>

<p>
  <strong>Mestrado:</strong>
  <%= @form.mestrado %>
</p>

<p>
  <strong>Doutorado:</strong>
  <%= @form.doutorado %>
</p>

<%= link_to 'Editar', edit_form_path(@form) %> |
<%= link_to 'Voltar', forms_path %>
